In [7]:
import numpy as np
import pandas as pd

In [8]:
labels = ['a' , 'b', 'c']
my_list = [10, 20, 30]

In [11]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [14]:
arr = np.array([1,2,3])

pd.Series(arr)

0    1
1    2
2    3
dtype: int64

In [15]:
pd.Series(arr, labels)

a    1
b    2
c    3
dtype: int64

In [16]:
d = {'a' : 10, 'b' : 23 ,  'c' :9087 }

pd.Series(d)

a      10
b      23
c    9087
dtype: int64

In [19]:
ser1 = pd.Series([1,2,3,4], index = ['U', 'G', 'F', 'L'])

In [20]:
ser1['G']

2

In [22]:
from numpy.random import randn
np.random.seed(101)

In [25]:
df = pd.DataFrame(randn(8,8), index = 'A B C D E F G H'.split(), columns = 'W X Y Z W X Y Z'.split() )

In [26]:
df

,W,X,Y,Z,W,X,Y,Z
A,-1.382920,1.482495,0.961458,-2.141212,0.992573,1.192241,-1.046780,1.292765
B,-1.467514,-0.494095,-0.162535,0.485809,0.392489,0.221491,-0.855196,1.541990
C,0.666319,-0.538235,-0.568581,1.407338,0.641806,-0.905100,-0.391157,1.028293
D,-1.972605,-0.866885,0.720788,-1.223082,1.606780,-1.115710,-1.385379,-1.329660
E,0.041460,-0.411055,-0.771329,0.110477,-0.804652,0.253548,0.649148,0.358941
F,-1.080471,0.902398,0.161781,0.833029,0.975720,-0.388239,0.783316,-0.708954
G,0.586847,-1.621348,0.677535,0.026105,-1.678284,0.333973,-0.532471,2.117727
H,0.197524,2.302987,0.729024,-0.863091,0.305632,0.243178,0.864165,-1.560931

In [27]:
df['W']

          W         W
A -1.382920  0.992573
B -1.467514  0.392489
C  0.666319  0.641806
D -1.972605  1.606780
E  0.041460 -0.804652
F -1.080471  0.975720
G  0.586847 -1.678284
H  0.197524  0.305632

In [28]:
df.Z

          Z         Z
A -2.141212  1.292765
B  0.485809  1.541990
C  1.407338  1.028293
D -1.223082 -1.329660
E  0.110477  0.358941
F  0.833029 -0.708954
G  0.026105  2.117727
H -0.863091 -1.560931

In [29]:
df

,W,X,Y,Z,W,X,Y,Z
A,-1.382920,1.482495,0.961458,-2.141212,0.992573,1.192241,-1.046780,1.292765
B,-1.467514,-0.494095,-0.162535,0.485809,0.392489,0.221491,-0.855196,1.541990
C,0.666319,-0.538235,-0.568581,1.407338,0.641806,-0.905100,-0.391157,1.028293
D,-1.972605,-0.866885,0.720788,-1.223082,1.606780,-1.115710,-1.385379,-1.329660
E,0.041460,-0.411055,-0.771329,0.110477,-0.804652,0.253548,0.649148,0.358941
F,-1.080471,0.902398,0.161781,0.833029,0.975720,-0.388239,0.783316,-0.708954
G,0.586847,-1.621348,0.677535,0.026105,-1.678284,0.333973,-0.532471,2.117727
H,0.197524,2.302987,0.729024,-0.863091,0.305632,0.243178,0.864165,-1.560931

In [35]:
df

,W,X,Y,Z,W,X,Y,Z
A,-1.382920,1.482495,0.961458,-2.141212,0.992573,1.192241,-1.046780,1.292765
B,-1.467514,-0.494095,-0.162535,0.485809,0.392489,0.221491,-0.855196,1.541990
C,0.666319,-0.538235,-0.568581,1.407338,0.641806,-0.905100,-0.391157,1.028293
D,-1.972605,-0.866885,0.720788,-1.223082,1.606780,-1.115710,-1.385379,-1.329660
E,0.041460,-0.411055,-0.771329,0.110477,-0.804652,0.253548,0.649148,0.358941
F,-1.080471,0.902398,0.161781,0.833029,0.975720,-0.388239,0.783316,-0.708954
G,0.586847,-1.621348,0.677535,0.026105,-1.678284,0.333973,-0.532471,2.117727
H,0.197524,2.302987,0.729024,-0.863091,0.305632,0.243178,0.864165,-1.560931

In [36]:
df['W']

          W         W
A -1.382920  0.992573
B -1.467514  0.392489
C  0.666319  0.641806
D -1.972605  1.606780
E  0.041460 -0.804652
F -1.080471  0.975720
G  0.586847 -1.678284
H  0.197524  0.305632

In [37]:
df.iloc[2]

W    0.666319
X   -0.538235
Y   -0.568581
Z    1.407338
W    0.641806
X   -0.905100
Y   -0.391157
Z    1.028293
Name: C, dtype: float64

In [39]:
np.random.randn(1,900000)

array([[-0.25189695, -0.57812026,  0.23699563, ..., -2.62937071,
        -0.08360808,  0.020984  ]])

In [40]:
df.std()

W    1.036564
X    1.327050
Y    0.657190
Z    1.165964
W    1.062549
X    0.748027
Y    0.886935
Z    1.388140
dtype: float64